* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #f7f7f7;
}

header,
main,
footer {
    padding: 0 0.75rem;
}

.section {
    margin-top: 0.75rem;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    cursor: pointer;
}

a:hover {
    color: #000000;
    cursor: pointer;
}

.links-hover:hover {
    color: #5ca6ed;
    cursor: pointer;
}

/* header */

.menu-button-container {
    display: none;
    height: 100%;
    width: 30px;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 1rem;
}

#menu-toggle {
    display: none;
}

.menu-button,
.menu-button::before,
.menu-button::after {
    display: block;
    background-color: #ec9539;
    position: absolute;
    height: 4px;
    width: 30px;
    transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
    border-radius: 2px;
}

.menu-button::before {
    content: '';
    margin-top: -8px;
}

.menu-button::after {
    content: '';
    margin-top: 8px;
}

#menu-toggle:checked+.menu-button-container .menu-button::before {
    margin-top: 0px;
    transform: rotate(405deg);
}

#menu-toggle:checked+.menu-button-container .menu-button {
    background: rgba(255, 255, 255, 0);
}

#menu-toggle:checked+.menu-button-container .menu-button::after {
    margin-top: 0px;
    transform: rotate(-405deg);
}

.header__nav-item-list {
    display: flex;
    gap: 4rem;
    position: relative;
}

.header__nav-item {
    font-size: 1.125rem;
    font-weight: 700;
    display: flex;
    gap: 4.5rem;
    justify-content: space-between;
    align-items: center;
    color: #000000;
}

.header__container {
    display: flex;
    justify-content: space-between;
    padding: 1rem 3.125rem;
    background-color: #ffffff;
    border-radius: 0 0 20px 20px;
    align-items: center;
}

.header__nav {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}


.header__nav-item_btn {
    display: flex;
    gap: 1rem;
    border: 1px solid #cdcdcd;
    padding: 0.2rem;
    background-color: #ffffff;
    border-radius: 50px;
    align-items: flex-end;
}

.header__nav-item_btn-input {
    display: flex;
    border: none;
    padding: 0 6rem 0 0;
    outline: none;
}

.header__nav-item_btn-input::placeholder {
    font-size: 0.7rem;
    color: #000000;
}

.header__nav-item-group {
    display: flex;
    gap: 3.5rem;
    align-items: center;
}

.header__nav-item-text {
    font-size: 0.875rem;
    font-weight: 400;
    color: #000000;
}

.header__nav-item_contacts {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.header__nav-item_contacts-link {
    color: #000000;
    font-size: 1.125rem;
    font-weight: 700;
}

.header__icon {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.header__nav-item_basket {
    display: flex;
    align-items: center;
    gap: 0.8rem;
}

.header {
    top: -100px;
    left: 0;
    width: 100%;
    z-index: 10;
    transition: all .2s ease;
}

.header.fixed {
    position: fixed;
    transform: translateY(100px);
}

.input-padding {
    padding-right: 18rem;
}

/*   hero   */

.hero-container {
    position: relative;
}

.image-container-scroll,
.image-container {
    display: flex;
    width: 100%;
}

.image-container {
    transition: 400ms transform ease-in;
}

.image-container-scroll {
    flex: 1;
    overflow: hidden;
}

.img-hidden {
    display: none;
}

.banner-link {
    min-width: 100%;
    font-size: 0;
}

.banner-image {
    max-width: 100%;
    width: 100%;
    border-radius: 20px;
}

.hero__btn {
    position: absolute;
    z-index: 2;
    bottom: 7%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 0.625rem;
    justify-content: center;
}

.hero__btn-click {
    background-color: transparent;
    border: 0.063rem solid #FFFFFF;
    width: 1rem;
    height: 1rem;
    border-radius: 50px;
    cursor: pointer;
}

.btn-active {
    background: #ffffff;
}

/* info */

.info-links {
    background-color: #5ca6ed;
    border-radius: 20px;
    display: flex;
    padding: 3.3rem;
    gap: 3rem;
    flex-direction: column;
}

.info-links_group {
    display: flex;
    margin-top: 0.75rem;
    justify-content: space-between;
}

.info-links__list {
    display: flex;
    justify-content: space-between;
}

.info-links__list_header {
    font-size: 3.313rem;
    color: #ffffff;
    font-weight: 700;
}

.info-links__btn {
    display: flex;
    background-color: #ffffff;
    border-radius: 50px;
    padding: 1.563rem;
}

.info-links_column {
    width: 49.7%;
    background-color: #69a74f;
}

.info-links_color {
    background-color: #ec9539;
    width: 49.7%;
}

.info-links__list_gap {
    display: flex;
    flex-direction: column;
    gap: 1.875rem;
}

.info-links__list-items {
    display: flex;
    align-items: center;
    gap: 1.25rem;
}

.info-links__list-item {
    color: #ffffff;
    font-size: 1.125rem;
    font-weight: 700;
}

.info-links__list-item_hover {
    padding-right: 59rem;
    border: none;
    outline: none;
    color: #000000;
}

.info-links__list-item_hover::placeholder {
    color: #595959;
    font-size: 1.125rem;
    font-weight: 700;
}

/* news */

.news-header-wrapper {
    display: flex;
    gap: 2.188rem;
    justify-content: center;
    align-items: center;
}

.news-card {
    width: 42%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-self: stretch;
    flex-shrink: 0;
    background-color: #FFFFFF;
    border-radius: 20px;
    gap: 3.375rem;
    position: relative;
}

.card-link {
    position: absolute;
    z-index: 1;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    cursor: pointer;
}

.news-card__image {
    width: 100%;
}

.news-card__image-wrapper {
    position: relative;
}

.news-card__text-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0 3.3rem 3.3rem 3.3rem;
    gap: 1.5rem;
}

.new-card__title {
    font-size: 1rem;
    font-weight: 700;
    color: #000000;
    line-height: 1.375rem;
}

/* section-item common styles */

.section-item {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 2.313rem;
    gap: 2.25rem;
}

.section-item-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 3.3rem 0.875rem 3.3rem;
}

.section-item__title {
    font-size: 3.313rem;
    font-weight: 700;
    color: #5ca6ed;
}

.see-all {
    display: flex;
    justify-self: center;
    align-items: center;
    gap: 1rem;
    padding-left: 1rem;
}

.see-all__title {
    font-size: 0.75rem;
    color: #1f1f1f;
}

.section-item-container {
    display: flex;
    align-items: flex-start;
    gap: 0.813rem;
    overflow-x: scroll;
    padding-bottom: 2.125rem;
    position: relative;
    cursor: pointer;
}

/* .shadow {
    position: absolute;
    bottom: 38px;
    transform: translateY(0);
    background-color: #f9f9f9;
    width: 229px;
    height: 574px;
    z-index: 3;
    opacity: 70%;
    right: 0;
    border-radius: 20px 0 0 20px;
} */

.section-item-container::-webkit-scrollbar {
    height: 4px;
    background: #FFFFFF;
    border-radius: 10px;
}


.section-item-container::-webkit-scrollbar-thumb:horizontal {
    background: #eb9539;
    border-radius: 10px;
}

.section-item-container:hover::-webkit-scrollbar {
    height: 14px;
}

.section-item-container::-webkit-scrollbar-thumb:horizontal:hover {
    background-color: #fe890d;
}


/* popular */

.section-item__title-color {
    color: #ec9539;
}

.popular-card {
    width: 25.5%;
}

.popular-card__text-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 3.3rem 3.3rem 3.3rem;
    gap: 1.5rem;
}

.popular-card__image-wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    padding-top: 4rem;
}

.popular-card__price {
    color: #5ca6ed;
    font-size: 1.25rem;
    text-align: center;
}

.popular-card__btn {
    background-color: #ec9539;
    border: 1px solid #ec9539;
    color: #ffffff;
    font-size: 1rem;
    border-radius: 50px;
    padding: 1.5rem 3.5rem;
    font-weight: 700;
}

.popular-card__link {
    color: #ffffff;
    text-align: center;
}

/* partners */

.partners-links {
    border-radius: 20px;
    display: flex;
    padding: 3.3rem;
    gap: 3rem;
    flex-direction: column;
    width: 70%;
    background-color: #5ca6ed;
}

.partners-links_color {
    width: 29%;
    background-color: #69a74f;
}

.partners-links__list {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.partners-link {
    color: #ffffff;
    padding-top: 4rem;
}

.partners__list {
    align-items: flex-end;
    padding-bottom: 8rem;
    gap: 6.1rem;
}

.partners-links__list_gap {
    padding-bottom: 4rem;
}

/* footer */

footer {
    padding-top: 2.313rem;
}

.footer__container {
    background-color: #595959;
    border-radius: 20px 20px 0 0;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 2.25rem 3.25rem;
}

.footer-block_left {
    display: flex;
    align-items: flex-start;
    gap: 2.5rem;
}

.footer-description {
    width: 30%;
    display: flex;
    flex-direction: column;
    gap: 1.625rem;
}

.footer-description_text {
    line-height: 1.125rem;
    font-size: 0.75rem;
    font-weight: 400;
    color: #f0f0f0;
    padding-top: 1rem;
}

.footer-socials {
    display: flex;
    gap: 2.5rem;
    padding: 1.438rem 2.625rem;
}

.footer-info-links {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 0.8rem;
}

.footer-info-links__item {
    color: #ffffff;
    line-height: 1.125rem;
    font-size: 1rem;
    font-weight: 700;
}


/********** CATALOG PAGE **********/

.info-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.info-nav_group {
    display: flex;
    gap: 0.75rem;
}

.info-nav_range {
    background-color: #6EA4E7;
    border-radius: 50px;
    display: flex;
    align-items: center;
    padding-right: 2rem;
    position: relative;
    cursor: pointer;
}

.info-nav_range-header {
    font-size: 1.125rem;
    color: #FFFFFF;
    font-weight: 600;
    line-height: 1.438rem;
    padding: 1.5rem 0 1.5rem 2rem;
}

.info-nav_range-img {
    width: 40px;
}

.info-links__nav_range {
    display: none;
    position: absolute;
    z-index: 5;
    top: 88px;
    left: 0;
}

.info-links__list-item_padding {
    padding-right: 30.5rem;
}

.type-of_group {
    display: flex;
    gap: 2.75rem;
}

.type-of-goods {
    display: flex;
    gap: 1rem;
}

.type-of-goods_btn,
.type-of-goods_btn-list {
    border: inherit;
    background-color: inherit;
    cursor: pointer;
}

.type-of-price {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding-right: 3rem;
}

.type-of-price_header {
    font-size: 0.875rem;
    font-weight: 400;
}

.cards-item {
    display: flex;
    margin-top: 0.75rem;
}

.cards-container {
    width: 100%;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    gap: 0.75rem;
}

.sidebar__container {
    border-radius: 20px;
    display: flex;
    margin-right: 1rem;
    position: relative;
    flex-direction: column;
}

.burger-menu {
    padding-top: 0.5rem;
    display: none;
    width: 25px;
    position: absolute;
    left: 10px;
    top: 10px;
}

.burger-menu>span {
    display: block;
    width: 100%;
    height: 3px;
    border-radius: 50px;
    background-color: #6EA4E7;
}

.burger-menu>span:not(:last-child) {
    margin-bottom: 5px;
}

.sidebar__chapter {
    display: flex;
    flex-direction: column;
    background-color: #595959;
    border-radius: 20px;
    gap: 1.75rem;
}

.sidebar__chapter-link {
    font-size: 0.875rem;
    font-weight: 500;
    line-height: 1.438rem;
    color: #FFFFFF;
}

.sidebar__chapter-header {
    font-size: 1.125rem;
    color: #FFFFFF;
    font-weight: 600;
    line-height: 1.438rem;
    cursor: pointer;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    padding: 3rem 5.5rem 2rem 3rem;
}

.sidebar__chapter-header_padding {
    padding-top: 0;
}

.sidebar__chapter-header_img {
    width: 60px;
}

.accordion_target-checkbox {
    display: flex;
    gap: 0.35rem;
    flex-direction: column;
}

.accordion_trigger {
    color: #FFFFFF;
}

.popular-card__item {
    width: 32.6%;
}

.socials {
    display: flex;
    align-items: center;
    padding: 1.5rem 0 0 3.2rem;
    gap: 0.3rem;
}

.socials a img {
    width: 20px;
}

.socials a {
    font-size: 0;
}

.layout-image,
.list-image {
    width: 30px;
}

/* pagination */

.pagination-container {
    padding: 3rem 0;
}

.pagination {
    display: flex;
    gap: 0.5rem;
}

.cards-container_list-pagination {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.page-item,
.page-link {
    font-size: 1.125rem;
    color: #505353;
    font-weight: 700;
    cursor: pointer;
}

.cards-container_list{
    display: none;
}

/* второй вариант внешнего вида карточек */

.cards-container_list {
    width: 100%;
    flex-direction: column;
}

.cards-container_list-nav {
    display: flex;
    gap: 0.9rem;
    padding: 2rem;
    align-items: center;
}

.cards-container_list-nav_text {
    font-size: 1rem;
    font-weight: 400;
    color: #d6d6d6;
}

.cards-container_list-nav_text-color {
    color: #000000;
}

.popular-card__item-list {
    display: flex;
    border-radius: 20px;
    width: 100%;
    background-color: #FFFFFF;
    justify-content: space-between;
    padding: 1rem 2rem;
}

.cards-list {
    display: flex;
    gap: 0.75rem;
    width: 100%;
    flex-direction: column;
}

.popular-card__image-wrapper-list {
    display: flex;
    align-items: center;
}

.popular-card__text-wrapper-list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.popular-card__text_list,
.popular-card__amount_list_color {
    font-size: 0.875rem;
    font-weight: 400;
    color: #000000;
}

.popular-card__image-list {
    width: 40px;
}

.popular-card__text-container {
    display: flex;
    justify-content: space-between;
}

.popular-card__list-checkbox_container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.popular-card__list-checkbox {
    display: flex;
}

.popular-card__list-checkbox_input[type="checkbox"]:checked,
.popular-card__list-checkbox_input[type="checkbox"]:not(:checked) {
    position: absolute;
    left: -9999px;
}

.popular-card__list-checkbox_input[type="checkbox"]:checked+label,
.popular-card__list-checkbox_input[type="checkbox"]:not(:checked)+label {
    display: inline-block;
    position: relative;
    padding-left: 28px;
    line-height: 20px;
    cursor: pointer;
}

.popular-card__list-checkbox_input[type="checkbox"]:checked+label:before,
.popular-card__list-checkbox_input[type="checkbox"]:not(:checked)+label:before {
    content: "";
    position: absolute;
    left: 0px;
    top: 0px;
    width: 15px;
    height: 15px;
    border: 1px solid #dddddd;
    background-color: #ffffff;
    box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.1);
}

.popular-card__list-checkbox_input[type="checkbox"]:checked+label:before,
.popular-card__list-checkbox_input[type="checkbox"]:not(:checked)+label:before {
    border-radius: 5px;
}

.popular-card__list-checkbox_input[type="checkbox"]:checked+label:after,
.popular-card__list-checkbox_input[type="checkbox"]:not(:checked)+label:after {
    content: "";
    position: absolute;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

.popular-card__list-checkbox_input[type="checkbox"]:checked+label:after,
.popular-card__list-checkbox_input[type="checkbox"]:not(:checked)+label:after {
    left: 4px;
    top: 4px;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background-color: #ec9539;
}

.popular-card__list-checkbox_input[type="checkbox"]:not(:checked)+label:after {
    opacity: 0;
}

.popular-card__list-checkbox_input[type="checkbox"]:checked+label:after {
    opacity: 1;
}

.popular-card__text-wrapper__list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.popular-card__price_list {
    color: #5ca6ed;
    font-size: 1.25rem;
    font-weight: 600;
}

.popular-card__price_list-color {
    color: #5ca6ed;
    font-size: 0.875rem;
    font-weight: 400;
}

.popular-card__amount_list {
    color: #ec9539;
    font-size: 1.25rem;
    font-weight: 600;
}

.popular-card__amount {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.popular-card__amount_btn {
    border: inherit;
    background-color: inherit;
    cursor: pointer;
}

.popular-card_list-basket {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.8rem;
}

.popular-card_list-basket_btn {
    background-color: #ec9539;
    border: 1px solid #ec9539;
    color: #ffffff;
    font-size: 1rem;
    border-radius: 50px;
    padding: 0.5rem 1.5rem;
    font-weight: 700;
}

.popular-card_list-basket_text {
    color: #69a84f;
    font-size: 0.875rem;
    font-weight: 400;
}

.popular-card_list-fav {
    border: inherit;
    background-color: inherit;
    cursor: pointer;
}

/********** ENDS CATALOG PAGE **********/


@media (min-width: 1601px) {
    .section {
        max-width: 1600px;
        margin: 0.75rem auto 0 auto;
    }

    .footer-container {
        justify-content: center;
    }
}

@media (min-width: 1281px) and (max-width: 1440px) {

    .header__nav-item-group {
        gap: 1.5rem;
    }

    .header__nav-item_btn-input {
        padding: 0 2rem 0 0;
    }

    .header__nav-item-list {
        gap: 2.5rem;
    }

    .input-padding {
        padding-right: 15rem;
    }

    .header__nav-item {
        gap: 2rem;
        flex-wrap: wrap;
    }

    .header__nav-item,
    .header__nav-item_contacts-link {
        font-size: 1rem;
    }

    .info-links__list {
        gap: 1rem;
    }

    .info-links__list-item_hover {
        padding-right: 54rem;
    }

    .popular-card__btn {
        padding: 1.5rem 1.5rem;
    }

    .partners-links {
        width: 64%;
    }

    .partners-links_color {
        width: 35%;
    }

    .popular-card__btn-contacts {
        padding: 1.5rem 3.5rem;
    }

    /********** CATALOG PAGE **********/

    .info-links__list-item_padding {
        padding-right: 19.5rem;
    }

    .popular-card__item {
        width: 32.46%;
    }

    .popular-card__item-list {
        padding: 1rem 0rem;
    }

    /********** ENDS CATALOG PAGE **********/
}

@media (max-width: 1280px) {

    .menu-button-container {
        display: flex;
        z-index: 4;
    }

    .header__nav-item-list {
        position: absolute;
        z-index: 3;
        top: 0;
        right: 0;
        width: 50%;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 0;
        padding-top: 3rem;
        padding-right: 3rem;
    }

    #menu-toggle~.header__nav-item-list .header__nav-item-burger {
        height: 0;
        margin: 0;
        padding: 0;
        border: 0;
        transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }

    #menu-toggle:checked~.header__nav-item-list .header__nav-item-burger {
        padding: 2rem;
        transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }

    .header__nav-item-burger {
        display: flex;
        justify-content: center;
        margin: 0;
        width: 100%;
        color: #000000;
        background-color: #ffffff;
        opacity: 80%;
    }

    .header__nav {
        flex-direction: column-reverse;
        gap: 1.5rem;
        align-items: flex-end;
    }

    .header__nav-item-burger {
        margin: 0 1rem;
        overflow: hidden;
    }

    .header-logo {
        max-width: 200px;
    }

    .header__nav-item-group {
        gap: 1rem;
    }

    .header__nav-item_contacts-link {
        font-size: 0.93rem;
    }

    .header__nav-item {
        font-size: 0.85rem;
        flex-wrap: wrap;
        gap: 0.8rem;
        justify-content: flex-end;
        text-align: center;
    }

    .info-links__list_header {
        font-size: 2rem;
    }

    .info-links__list {
        flex-wrap: wrap;
        gap: 1.5rem;
    }

    .info-links__list_gap {
        gap: 1rem;
    }

    .info-links__list-item {
        font-size: 1rem;
    }

    .info-links__btn {
        padding: 1rem;
    }

    .info-links__list-item_hover {
        padding-right: 23rem;
    }

    .info-links__list-item_hover::placeholder {
        font-size: 0.8rem;
    }

    .info-links_group {
        flex-direction: column;
        gap: 0.75rem;
    }

    .info-links_column {
        width: 100%;
    }

    .info-links_color {
        width: 100%;
    }

    .section-item__title {
        font-size: 2.313rem;
    }

    .news-card {
        width: 70%;
    }

    .popular-card {
        width: 47.5%;
    }

    .popular-card__image-wrapper {
        padding-top: 2rem;
    }

    .partners-links_group {
        flex-direction: row;
    }

    .partners-links {
        width: 60%;
        gap: 0;
    }

    .partners__list {
        padding-bottom: 2rem;
        gap: 3.1rem;
    }

    .partners__list-img {
        width: 200px;
    }

    .partners-link {
        padding-top: 2rem;
    }

    .popular-card__btn-contacts {
        padding: 1.5rem 1.5rem;
    }

    .partners-links__list_gap {
        padding-top: 1rem;
    }

    .footer__container {
        flex-wrap: wrap;
    }

    /********** CATALOG PAGE **********/

    .info-nav {
        flex-direction: column;
        gap: 1.5rem;
    }

    .info-nav_group {
        width: 100%;
    }

    .type-of_group {
        width: 100%;
        justify-content: space-between;
    }

    .info-nav_range-header {
        font-size: 0.8rem;
        padding: 0 0 0 2rem;
    }

    .info-nav_range-img {
        width: 30px;
    }

    .info-links__list-item_padding {
        padding-right: 15rem;
    }

    .type-of-goods {
        padding-left: 3rem;
    }

    .burger-menu {
        display: block;
    }

    .sidebar__container {
        max-width: 7%;
        height: 3rem;
        overflow: hidden;
        transition: all 0.4s ease-out;
        background-color: inherit;
        padding: 3.938rem 2.688rem 3.813rem 3rem;
        position: absolute;
        z-index: 2;
    }

    .sidebar__chapter {
        overflow: hidden;
    }

    .sidebar__container:hover,
    .sidebar__chapter:hover,
    .sidebar__container:active,
    .sidebar__chapter:active {
        max-width: 100%;
        height: auto;
    }

    .popular-card__item {
        width: 49%;
    }

    .popular-card__btn_mob {
        padding: 1.5rem 1.5rem;
    }

    .socials {
        display: none;
    }

    footer {
        padding-top: 0.75rem;
    }

    .popular-card__item-list {
        padding: 1rem 2rem;
    }

    .cards-container_list-nav {
        padding: 2rem 0 2rem 3rem;
    }

    .popular-card__item-list {
        padding: 1rem 2rem;
        gap: 0.5rem;
        flex-wrap: wrap;
    }

    /********** ENDS CATALOG PAGE **********/
}

@media (max-width: 790px) {

    .input-padding {
        padding-right: 11rem;
    }

    .partners-links__list_gap {
        padding-bottom: 2rem;
    }

    .section-item-header {
        padding: 0 0.3rem 0.3rem 0.3rem;
    }

    .news-card {
        width: 100%;
    }

    .partners-links_group {
        flex-direction: column;
    }

    .partners-links {
        width: 100%;
        padding: 1.5rem;
    }

    .footer__container {
        padding: 1.2rem;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;
    }

    .footer-description {
        width: 100%;
        gap: 1rem;
    }

    .footer-info-links__item {
        line-height: 1rem;
        font-size: 0.8rem;
        font-weight: 600;
    }

    .footer-info-links {
        align-items: center;
        gap: 0.8rem;
    }

    .partners-link {
        text-align: center;
    }

    .section-item {
        padding-top: 0;
        gap: 1.25rem;
    }

    .popular-card__btn {
        padding: 1.5rem 2.5rem;
    }

    .info-links__list-item_hover {
        padding-right: 0;
        width: 140px;
    }

    .header__nav-item {
        justify-content: center;
    }

    .header__nav-item-list {
        flex-wrap: wrap;
    }

    .header__nav-item-list {
        flex-wrap: wrap;
    }

    .info-links {
        padding: 2.3rem;
    }

    .header__container {
        padding: 1rem 1.125rem;
        flex-direction: column;
    }

    .header__nav-item-list {
        justify-content: space-between;
        gap: 0;
        width: 90%;
    }

    .header__nav-item {
        justify-content: space-around;
    }

    .info-links {
        padding: 2.3rem;
    }

    .header__container {
        padding: 1rem 1.125rem;
        flex-direction: column;
        gap: 1rem;
    }

    .info-links__list_header {
        font-size: 1.5rem;
    }

    .info-links__list-item {
        font-size: 0.8rem;
    }

    .info-links {
        gap: 1.5rem;
    }

    .info-links__list {
        gap: 0.8rem;
    }

    .info-links__btn {
        padding: 0.5rem;
    }

    .section-item__title {
        font-size: 2rem;
    }

    /********** CATALOG PAGE **********/

    .info-nav {
        justify-content: center;
    }

    .info-nav_group {
        flex-direction: column;
        width: inherit;
        gap: 0.5rem;
    }

    .info-nav_range-header {
        padding: 0.9rem 0 0.9rem 2rem;
    }

    .type-of-goods {
        padding-left: 0;
    }

    .type-of-price {
        padding-right: 0;
    }

    .sidebar__container:hover,
    .sidebar__chapter:hover,
    .sidebar__container:active,
    .sidebar__chapter:active {
        opacity: 95%;
        height: auto;
    }

    .sidebar__chapter-header {
        font-size: 0.8rem;
    }

    .sidebar__chapter-link {
        font-size: 0.6rem;
    }

    .sidebar__container {
        position: absolute;
        right: 0;
        display: block;
        padding-right: 1rem;
    }

    .sidebar__chapter {
        gap: 1rem;
        justify-content: unset;
    }

    .burger-menu {
        left: 20px;
    }

    .popular-card__item-list {
        padding: 1rem 0.5rem;
    }

    .popular-card__image-list {
        width: 30px;
    }

    .popular-card__title {
        font-size: 0.85rem;
    }

    .popular-card__text_list,
    .popular-card__amount_list_color,
    .popular-card_list-basket_text {
        font-size: 0.65rem;
    }

    .popular-card__price_list,
    .popular-card__amount_list {
        font-size: 0.875rem;
    }

    .popular-card__amount_btn-img {
        width: 20px;
    }

    .popular-card_list-basket_btn {
        padding: 0.5rem 0.5rem;
        font-size: 0.8rem;
    }

    .popular-card__list-checkbox_input[type="checkbox"]:checked+label,
    .popular-card__list-checkbox_input[type="checkbox"]:not(:checked)+label {
        padding-left: 20px;
    }

    .cards-container_list-nav {
        padding: 2rem;
    }

    .cards-container_list-nav_text {
        font-size: 0.6rem;
    }


    /********** ENDS CATALOG PAGE **********/
}